
body{
    /* background-color: #E0D8B0 !important; */
    color: #000000 !important; 
    background-image: url(https://github.com/newviex/img/blob/main/pexels-samer-daboul-2011264.jpg?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Libre Baskerville', serif;
    padding: 75px;
}
h1,h2,p{
    text-align: center;  
}
h1{
    font-size: 40px;
    margin: 0;
}
h2{
    font-size: 35px;
}
.top-line, .bottom-line{
    height: 3px;
    background-color:#e1e8ecd8 ;
    border-color: black;
    box-shadow: -2px 2px 0px 0px rgba(0,0,0,0.62);
    -webkit-box-shadow: -2px 2px 0px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: -2px 2px 0px 0px rgba(0,0,0,0.62);  
}
.top-line{
    margin-top: 35px;
}
.bottom-line{
    margin-top: 35px;
    margin-bottom: 30px;
}
.tea-menu{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #56718963;
    padding: 20px 30px 20px 30px;
    /* background-color: orange; */
    box-shadow: 4px 13px 14px 18px rgba(194,188,188,0.54);
    -webkit-box-shadow: 4px 13px 14px 18px rgba(194,188,188,0.54);
    -moz-box-shadow: 4px 13px 14px 18px rgba(194,188,188,0.54);
    
}
.establish{
    font-style: italic;
}
img{
    /* display: block; */
    height: 50px;
    width: 50px;
    /* margin: auto; */
    margin: auto 5px;
}
.tea-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tea-items p{
    /* background-color: #000000; */
    display: inline-block;
    font-weight: 400;
    margin: 5px 0px;
}

.tea-flavor, .collections-flavor{
    width: 75%;
    /* background-color:  #b6afaf; */
    text-align: left;
    color: whitesmoke;
    font-weight: bold;
    font-size: 0.95rem;
}
.tea-price, .collection-price{
    width: 25%;
    /* background-color: #e8e2e2; */
    text-align: right;
    color: whitesmoke;
    font-size: 0.95rem;
}
footer{
    font-size: 14px;
}
a {
    color: black;
    text-decoration: none;
    
}
/* lvha */
a:visited{
    color: white;
}
a:hover{
    color: rgb(91, 110, 110);
}
a:active{
    color: red;
}